<div class="report-container">
  <h2>Prescription Report</h2>

  <!-- Date Filter -->
  <div class="filter-bar">
    <label>From:</label>
    <input type="date" [(ngModel)]="selectedFromDate" (change)="onDateChange()" />
    <label>To:</label>
    <input type="date" [(ngModel)]="selectedToDate" (change)="onDateChange()" />
  </div>

  <!-- Loading -->
  <div *ngIf="isLoading" class="loading">Loading data...</div>



<h4 *ngIf="!isLoading && prescriptionCount > 0" class="prescription-count-heading">
  Total prescriptions: {{ prescriptionCount }}
</h4>


<!-- ================End========= -->


  <!-- Table -->
  <table *ngIf="!isLoading && prescriptions.length > 0" class="report-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Patient Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Diagnosis</th>
        <th>Medicines</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of prescriptions">
        <td>{{ p.prescriptionDate | date:'yyyy-MM-dd' }}</td>
        <td>{{ p.patientName }}</td>
        <td>{{ p.patientAge }}</td>
        <td>{{ p.patientGender }}</td>
        <td>{{ p.diagnosis }}</td>
        <td>
          <ul>
            <li *ngFor="let m of p.medicines">
              {{ m.medicineName }} ({{ m.dosage }}) - {{ m.frequency }} × {{ m.duration }} days
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- No Data Message -->
  <p *ngIf="!isLoading && prescriptions.length === 0" class="no-data">
    No prescriptions found for selected range.
  </p>
</div>
