@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.container {
  font-family: 'Poppins', sans-serif;
}

.form-row {
  display: flex;
  gap: 1rem; /* gap between  column  */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex: 1; /*equal width for every field */
}

button.btn {
  height: 40px; /* input height er same height for button */
}


.card {
  border-radius: 12px;
  background: #f9f9f9;
}




h4 {
  font-weight: 600;
  color: #333;
}

.table {
  border-radius: 8px;
  overflow: hidden;
}

.table th {
  background-color: #343a40;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.table td {
  font-size: 14px;
  vertical-align: middle;
}

.table tbody tr:hover {
  background-color: #eef4ff;
  transition: background-color 0.3s ease;
}

input.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}
